<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./style/main.css">
  <title>Codebreaker</title>
</head>
<body>
<h1>Codebreaker</h1>

<section>
    <div class="center-wrapper">
      <%= yield %>
    </div>
  </section>

</body>
</html>